@page "/country/delete/{id:int}"
@using StudentManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IJSRuntime JsRuntime
<h3>Delete Country</h3>

<hr />
<div class="row">

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Country Name</th>
                <td>@countryobj.Name</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete Country</button>
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    public Country countryobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadCountries();
    }


    public async Task LoadCountries()
    {
        // var students = await GenericService.GetAllAsync(student, "api/Student/All-Students");
        countryobj = await CountryService.GetByIdAsync(id);




    }
    protected async Task Delete()
    {
        var result = await CountryService.DeleteAsync(id);
        navigation.NavigateTo("/countries-list");
    }
    public void Cancel()
    {
        navigation.NavigateTo("/countries-list");
    }
}
